<h2 mat-dialog-title>Détails du rappel</h2>

<!--Grands écrans-->
<div fxHide.lt-md="true">
    <mat-form-field appearance="fill">
        <mat-label>Détails du rappel</mat-label>
        <textarea matInput [(ngModel)]="data.detailsRappel" rows="4" readonly="true"></textarea>
        <mat-icon matSuffix>add_circle</mat-icon>
    </mat-form-field>

    <div style="display: flex;justify-content: space-between;">
            <div style="width:40%">
                <!--Test si Projet est défini-->
                <div *ngIf="data.projet;else SINON">
                    <app-liste-deroulante-projets
                        [projetId]="data.projet.id">
                    </app-liste-deroulante-projets>
                </div>
                <ng-template #SINON>
                    <app-liste-deroulante-projets>
                    </app-liste-deroulante-projets> 
                </ng-template>
            </div>

            <div style="width:30%">
                <mat-form-field appearance="fill">
                    <mat-label>Priorité</mat-label>
                    <mat-select [(ngModel)]="data.priorite" readonly="true">
                        <mat-option value="Haute">Haute</mat-option>
                        <mat-option value="Normale">Normale</mat-option>
                        <mat-option value="Basse">Basse</mat-option>
                    </mat-select>
                    <mat-icon matSuffix>priority_high</mat-icon>
                </mat-form-field> 
            </div>

            <div style="width:25%">
                <mat-form-field appearance="fill">
                    <mat-label>Date</mat-label>
                    <input matInput [(ngModel)]="data.dateEcheance" readonly="true">
                </mat-form-field>
            </div>      
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center" dir="rtl"> 
        <div *ngIf="data.urlFichier"><!--Affiche uniquement le nom du ficier sans arborescence dossier-->
            <a href="{{storageUrl}}{{data.urlFichier}}" target="_blank">{{data.nomFichier | titlecase}}</a>
        </div>
       
        <div *ngIf="data.remindMe === true ; else notShow"> <!--Compare 2 booleans : so without ''-->
            <mat-slide-toggle [checked]="true">Remind Me</mat-slide-toggle>
        </div>
        
        <ng-template #notShow>
            <mat-slide-toggle [checked]="false">Remind Me</mat-slide-toggle>
        </ng-template>
    </div>

    <div style="display: flex;justify-content: end;margin-top: 15px;">
        <button mat-stroked-button mat-dialog-close style="width: 25%">Quitter</button>
    </div>

</div>

<!--Petits écrans--> 
<div fxLayout="column" fxLayoutAlign="space-between stretch" fxHide.gt-sm="true">

    <mat-form-field appearance="fill">
        <mat-label>Détails du rappel</mat-label>
        <textarea matInput [(ngModel)]="data.detailsRappel" rows="4" readonly="true"></textarea>
        <mat-icon matSuffix>add_circle</mat-icon>
    </mat-form-field>


    <!--Test si Projet est défini-->
    <div *ngIf="data.projet;else SINON">
                    <app-liste-deroulante-projets
                        [projetId]="data.projet.id">
                    </app-liste-deroulante-projets>
    </div>
    <ng-template #SINON>
                    <app-liste-deroulante-projets>
                    </app-liste-deroulante-projets> 
    </ng-template>

    <mat-form-field appearance="fill">
                    <mat-label>Priorité</mat-label>
                    <mat-select [(ngModel)]="data.priorite" readonly="true">
                        <mat-option value="Haute">Haute</mat-option>
                        <mat-option value="Normale">Normale</mat-option>
                        <mat-option value="Basse">Basse</mat-option>
                    </mat-select>
                    <mat-icon matSuffix>priority_high</mat-icon>
    </mat-form-field> 
   


    <mat-form-field appearance="fill">
                    <mat-label>Date</mat-label>
                    <input matInput [(ngModel)]="data.dateEcheance" readonly="true">
    </mat-form-field>


    <div> 
        <div *ngIf="data.urlFichier"><!--Affiche uniquement le nom du ficier sans arborescence dossier-->
            <a href="{{storageUrl}}{{data.urlFichier}}" target="_blank">{{data.nomFichier | titlecase}}</a>
        </div>
       
        <div *ngIf="data.remindMe === true ; else notShow"> <!--Compare 2 booleans : so without ''-->
            <mat-slide-toggle [checked]="true">Remind Me</mat-slide-toggle>
        </div>
        
        <ng-template #notShow>
            <mat-slide-toggle [checked]="false">Remind Me</mat-slide-toggle>
        </ng-template>
    </div>

    <button mat-stroked-button mat-dialog-close style="margin-top: 10px;margin-bottom: 20px;">Quitter</button>

</div>
    
