<div class="chart">
      <canvas baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [colors]="pieChartColors"
        [legend]="pieChartLegend">
      </canvas>
</div>
<div fxLayout="row" fxLayoutAlign="center stretch" style="margin-top: 30px"> 
  <button mat-flat-button (click)="entrepriseVsPartenaires()" style="min-width:20%; width:auto; margin-right: 10px">Partenaires liés</button>
  <button mat-flat-button (click)="entrepriseVsCandidats()" style="min-width:20%; width:auto;margin-right: 20px">Candidats liés</button>
</div>
