<form [formGroup]="formEcole" (ngSubmit)="addEcoleController()">
  <mat-form-field appearance="outline">
      <mat-label>Nom de l'école</mat-label>
      <input matInput formControlName="nomEcole" required>
      <mat-icon matSuffix>school</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline" >
      <mat-label>Description de l'école</mat-label>
      <textarea matInput formControlName="descriptionDetaillee" rows="8"></textarea>
      <mat-icon matSuffix>description</mat-icon>
  </mat-form-field>
  
  <button mat-flat-button [disabled]="!formEcole.valid" type="submit">Ajouter une école</button><br><br>
  <button mat-stroked-button type="reset">Tout réinitialiser</button><br><br>

</form>
