<!--Grands écrans-->
<form [formGroup]="formPartenaire" (ngSubmit)="addPartenaireController()" fxHide.lt-md="true">
  <table>
    <tr>
      <td>
          <mat-form-field appearance="outline">
            <mat-label>Identité du partenaire</mat-label>
            <input matInput formControlName="identite" required>
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>
      </td>
      <!--  PHOTO UPLOAD   -->
      <td>
          <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-top: -20px"> 
            <div class="image-upload" dir="ltr">
              <label for="file-input">
                  <mat-icon class="pointer">add_a_photo</mat-icon>
              </label>
              <input id="file-input" type="file" style="display: none;" (change)="selectFile($event)">
            </div>
            <div class="file-upload" dir="rtl">{{namePhoto}}</div>
          </div>
      </td>
    </tr>
    <tr>
       <td>
            <mat-form-field appearance="outline">
              <mat-label>Téléphone</mat-label>
              <input matInput formControlName="telephone">
              <mat-icon matSuffix>local_phone</mat-icon>
            </mat-form-field>  
       </td>
       <td>
            <mat-form-field appearance="outline">
              <mat-label>Adresse email</mat-label>
              <input matInput formControlName="email" required>
              <mat-icon matSuffix>mail</mat-icon>
            </mat-form-field>  
       </td>
      </tr>
      <tr>
         <td>
            <app-liste-entreprises
               (entrepriseIdEvent)="entrepriseIdEventListner($event)">
            </app-liste-entreprises>
         </td>
         <td>
            <mat-form-field appearance="outline">
                <mat-label>Poste occupé</mat-label>
                <input matInput formControlName="posteOccupe">
            </mat-form-field>   
         </td>
     </tr>
     <tr>
      <td>
           <mat-form-field appearance="outline">
             <mat-label>Login</mat-label>
             <input matInput formControlName="username" required>
             <mat-icon matSuffix>perm_identity</mat-icon>
           </mat-form-field>  
      </td>
      <td>
           <mat-form-field appearance="outline">
             <mat-label>Password</mat-label>
             <input matInput formControlName="password" type="password" required>
             <mat-icon matSuffix>lock</mat-icon>
           </mat-form-field>  
      </td>
     </tr>
  </table>
   
        <mat-form-field appearance="outline" >
            <mat-label>Description détaillée</mat-label>
            <textarea matInput formControlName="descriptionDetaillee" style="height: 80px;overflow-y: auto"></textarea>
            <mat-icon matSuffix>description</mat-icon>
        </mat-form-field>
  
        <div style="display: flex;justify-content: space-between;">
          <button mat-flat-button type="submit" [disabled]="!formPartenaire.valid" (click)="inputSideNav.toggle()" style="margin-right: 10px; width: 30%">Ajouter un partenaire</button>
          <button mat-stroked-button type="reset"  style="margin-left: 10px; width: 30%">Tout réinitialiser</button>
        </div>
        <br>
</form>

<!--Petits écrans-->
<form [formGroup]="formPartenaire" (ngSubmit)="addPartenaireController()" fxLayout="column" fxLayoutAlign="start stretch" fxHide.gt-sm="true">

      <mat-form-field appearance="outline">
          <mat-label>Identité du partenaire</mat-label>
          <input matInput formControlName="identite" required>
          <mat-icon matSuffix>account_circle</mat-icon>
      </mat-form-field>
    
      <!--  PHOTO UPLOAD   -->
   
      <div fxLayout="column" fxLayoutAlign="space-between center" > 
          <div class="image-upload" dir="ltr">
              <label for="file-input-small">
                  <mat-icon class="pointer">add_a_photo</mat-icon>
              </label>
              <input id="file-input-small" type="file" style="display: none;" (change)="selectFile($event)">
          </div>
          <div class="file-upload" dir="rtl">{{namePhoto}}</div>
      </div>

      <mat-form-field appearance="outline">
      <mat-label>Téléphone</mat-label>
          <input matInput formControlName="telephone">
          <mat-icon matSuffix>local_phone</mat-icon>
      </mat-form-field>  

      <mat-form-field appearance="outline">
          <mat-label>Adresse email</mat-label>
          <input matInput formControlName="email" required>
          <mat-icon matSuffix>mail</mat-icon>
      </mat-form-field>  

      <app-liste-entreprises
          (entrepriseIdEvent)="entrepriseIdEventListner($event)">
      </app-liste-entreprises>

      <mat-form-field appearance="outline">
          <mat-label>Poste occupé</mat-label>
          <input matInput formControlName="posteOccupe">
      </mat-form-field>   

      <mat-form-field appearance="outline">
          <mat-label>Login</mat-label>
          <input matInput formControlName="username" required>
          <mat-icon matSuffix>perm_identity</mat-icon>
      </mat-form-field>  

      <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" required>
          <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>  

      <mat-form-field appearance="outline" >
          <mat-label>Description détaillée</mat-label>
          <textarea matInput formControlName="descriptionDetaillee" style="height: 80px;overflow-y: auto"></textarea>
          <mat-icon matSuffix>description</mat-icon>
      </mat-form-field>
  

      <button mat-flat-button type="submit" [disabled]="!formPartenaire.valid" (click)="inputSideNav.toggle()" style="margin-bottom: 10px;">Ajouter un partenaire</button>
      
      <button mat-stroked-button type="reset"  style="margin-bottom: 20px;">Tout réinitialiser</button>
</form>