.mat-menu-item {
    color: #222 !important;
    font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    font-variant-ligatures: no-contextual;
  }