<div class="mat-liste">
    Technologies ({{Technologies.selectedOptions.selected.length}})
</div>
<div style="max-height:250px;overflow-y: auto;">   
    <mat-selection-list #Technologies (selectionChange)="onListeTechnologieChange(Technologies.selectedOptions.selected)" dense>
      
      <mat-list-option *ngFor="let technologie of listeTechnologies" [value]="technologie" checkboxPosition="before">
          {{technologie.nomTechnologie}}
      </mat-list-option>
      
    </mat-selection-list>
</div>
<mat-option><button mat-flat-button type="button" (click)="openDialog()">Ajouter une technologie</button></mat-option>

  
  