<!-- Visible sur Grands écrans seulement -->
<div fxLayout="row" fxLayoutAlign="space-between stretch" fxHide.lt-md="true"> 

  <div fxFlex="30%"></div>

  <div fxFlex="40%" class="container">

        <app-login ></app-login>

        <button mat-stroked-button (click)="openDialogRecupererPassword()" style="margin-bottom: 50px">Mot de passe oublié ?</button>

        <div fxLayout="row" fxLayoutAlign="space-between stretch" > 
            <button mat-flat-button (click)="openDialogCreerCompteCandidat()">Créer un compte Candidat</button>
            <div style="width: 50px;"></div>
            <button mat-flat-button (click)="openDialogCreerCompteRecruteur()">Créer un compte Recruteur</button>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between stretch" style="margin-top: 20px"> 
          <img src="https://business.rowan.edu/_images/connect-linkedin.png" (click)="authenticateWithLinkedIn()" 
          style="height: 40px; width: 200px" class="pointer"/>

          <div *ngIf="redirect === true"></div> <!--Utile pour une raison-->
        </div>

  </div>

  <div fxFlex="30%"></div>

</div>

<!-- Visible sur Petits écrans seulement -->
<div fxLayout="column" fxLayoutAlign="start center" fxHide.gt-sm="true" > 

        <app-login></app-login>
      
        <button mat-stroked-button (click)="openDialogRecupererPassword()" style="margin-bottom: 50px">Mot de passe oublié ?</button>   
             
        <button mat-flat-button (click)="openDialogCreerCompteCandidat()" style="margin-bottom: 20px">Créer un compte Candidat</button>
              
        <button mat-flat-button (click)="openDialogCreerCompteRecruteur()"style="margin-bottom: 50px">Créer un compte Recruteur</button>
</div>
