<!-- Visible sur Grands écrans seulement -->
<div fxLayout="row" fxLayoutAlign="space-between stretch" fxHide.lt-md="true"> 

  <div fxFlex="32%"></div>

  <div fxFlex="36%" class="container">

        <app-login ></app-login>

        <div fxLayout="row" fxLayoutAlign="center stretch" style="margin-top: 20px"> 
            <img src="assets/img/linkedin.png" (click)="authenticateWithLinkedIn()" class="pointer"/>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-top: 20px"> 
            <a class="lien-authentification" (click)="openDialogCreerCompteCandidat()">Nouveau candidat</a>
            <div style="width: 50px;"></div>
            <a class="lien-authentification" (click)="openDialogCreerCompteRecruteur()">Nouveau recruteur</a>
        </div>
  </div>

  <div fxFlex="32%"></div>

</div>

<!-- Visible sur Petits écrans seulement -->
<div fxLayout="column" fxLayoutAlign="start center" fxHide.gt-sm="true" > 
    <app-login></app-login>
    <img src="assets/img/linkedin.png" style="margin-bottom: 20px" (click)="authenticateWithLinkedIn()" class="pointer"/>  
    <button mat-flat-button (click)="openDialogCreerCompteCandidat()" style="margin-bottom: 20px">Nouveau candidat</button>  
    <button mat-flat-button (click)="openDialogCreerCompteRecruteur()" style="margin-bottom: 50px">Nouveau recruteur</button>
</div>
