<!-- Visible sur Grands écrans seulement -->
<div fxLayout="row" fxLayoutAlign="space-between stretch" fxHide.lt-md="true"> 

  <div fxFlex="30%"></div>

  <div fxFlex="40%" class="container">

        <app-login ></app-login>

        <div fxLayout="row" fxLayoutAlign="space-between stretch" style="margin-top: 20px"> 
            <img src="assets/img/linkedin.png" style="height: 35px; width:230px" (click)="authenticateWithLinkedIn()" class="pointer"/>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between stretch" style="margin-top: 20px"> 
            <button mat-flat-button (click)="openDialogCreerCompteCandidat()">Nouveau Candidat</button>
            <div style="width: 100px;"></div>
            <button mat-flat-button (click)="openDialogCreerCompteRecruteur()">Nouveau Recruteur</button>
        </div>
  </div>

  <div fxFlex="30%"></div>

</div>

<!-- Visible sur Petits écrans seulement -->
<div fxLayout="column" fxLayoutAlign="start center" fxHide.gt-sm="true" > 
    <app-login></app-login>
    <img src="assets/img/linkedin.png" style="margin-bottom: 20px" (click)="authenticateWithLinkedIn()" class="pointer"/>  
    <button mat-flat-button (click)="openDialogCreerCompteCandidat()" style="margin-bottom: 20px">Nouveau Candidat</button>  
    <button mat-flat-button (click)="openDialogCreerCompteRecruteur()" style="margin-bottom: 50px">Nouveau Recruteur</button>
</div>
