<div class="title-xs-higher" style="text-align: center">
    Réinitialisation du mot de passe
</div>

<div>
    <mat-form-field appearance="outline">
        <mat-label>Adresse email</mat-label>
        <input matInput [(ngModel)]="data.email" readonly>
        <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" >
        <mat-label>Nouveau mot de passe</mat-label>
        <input matInput [(ngModel)]="data.password" required>
        <mat-icon matSuffix>edit</mat-icon>
    </mat-form-field>
    
    <div fxLayout="column" fxLayoutAlign="start space-between stretch" >
        <button mat-flat-button [mat-dialog-close]="data">Confirmer</button>
        <button mat-stroked-button mat-dialog-close style="margin-top: 10px">Annuler</button>
    </div>
</div>