<h2 mat-dialog-title>Détails de l'entreprise</h2> 
<div  fxLayout
      fxLayout.xs="row"
      fxLayoutAlign="space-between start"
      fxLayoutGap="10px"
      fxLayoutGap.xs="0">
     
<!-- Container : Partie Gauche -->
<div fxFlex="40%"> 

    <mat-form-field appearance="fill">
        <mat-label>Nom de l'entreprise</mat-label>
        <input matInput [(ngModel)]="data.nomEntreprise" readonly="true">
        <mat-icon matSuffix></mat-icon>
    </mat-form-field>


    <mat-form-field appearance="fill" >
        <mat-label>Description de l'entreprise</mat-label>
        <textarea matInput [(ngModel)]="data.descriptionDetaillee" rows="10" style="overflow-y: auto"  readonly="true"></textarea>
        <mat-icon matSuffix>description</mat-icon>
    </mat-form-field>

    <button mat-flat-button mat-dialog-close style="width: 30%">Quitter</button>
    </div>

    <!-- Container : Partie Droite -->
    <div fxFlex="30%">
            <!-- Liste Partenaires liés à cette entreprise -->
            <app-liste-partenaires-for-show [idEntreprise]=data.idEntreprise></app-liste-partenaires-for-show>
    </div>

    <div fxFlex="30%">
            <!-- Liste Candidats liés à cette entreprise-->
            <app-liste-candidats-for-show [idEntreprise]=data.idEntreprise></app-liste-candidats-for-show>
    </div>
</div>