<mat-form-field appearance="outline">
  <input matInput (keyup)="filtrerTable($event.target.value)" placeholder="Recherche rapide">
  <mat-icon matSuffix >search</mat-icon>
</mat-form-field>

<table mat-table [dataSource]="listeEntreprises" matSort>

  <ng-container matColumnDef="idEntreprise">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID.Entreprise</th>
    <td mat-cell *matCellDef="let element">{{element.idEntreprise}}</td>
  </ng-container>

  <ng-container matColumnDef="nomEntreprise">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom de l'entreprise</th>
    <td mat-cell *matCellDef="let element" width="85%">
      <a class="pointer"  (click)="openDialogShowEntreprise(element.idEntreprise, element.nomEntreprise, element.descriptionDetaillee)" matTooltip="Voir les détails">
          {{element.nomEntreprise  | uppercase}}
      </a>
      
    </td>
  </ng-container>

  <ng-container matColumnDef="more" *ngIf="role === 'Administrateur'">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element" class="pointer" width="5%">
        <a mat-button [matMenuTriggerFor]="menuEntreprises" matTooltip="Plus d'options"><mat-icon>more_vert</mat-icon></a>
          <mat-menu #menuEntreprises="matMenu">
            <button mat-menu-item (click)="openDialogEditEntreprise(element.idEntreprise, element.nomEntreprise, element.descriptionDetaillee)" matTooltip="Modifier l'entreprise" matTooltipPosition="right">Modifier l'entreprise</button>
            
            <button mat-menu-item (click)="openDialogDeleteEntreprise(element.idEntreprise)" matTooltip="Supprimer l'entreprise" matTooltipPosition="right">Supprimer l'entreprise</button>
          </mat-menu>
      </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>