<div style="margin-top: 20px">
        <div *ngIf="data.texte; else SINON">
            <div class="simple-text" style="color: black;">
                {{data.texte}}  {{data.email}}
            </div>
        </div> 
        <ng-template #SINON>
            <div class="simple-text">
                Vous allez valider l'activation d'un nouveau Partenaire.
            </div>
        </ng-template>
    </div>
    <div style="display: flex;justify-content: space-between;">
        <button mat-flat-button [mat-dialog-close]="data" style="margin-right: 10px;background-color:#f7c341; color: black; font-weight: 400">Activer</button>
        <button mat-stroked-button mat-dialog-close style="margin-left: 10px; color:black; font-weight: 400">Annuler</button>
    </div> 
    