<div class="title-xs-higher" fxLayout="row" fxLayoutAlign="space-between stretch" >
    Gestion des demandes d'adhésion : Partenaires
</div>

<!-- Grands écrans -->
<div class="container" fxHide.lt-md="true">
        <mat-form-field appearance="outline">
                <input matInput (keyup)="filtrerTable($event.target.value)" placeholder="Recherche rapide">
                <mat-icon matSuffix >search</mat-icon>
        </mat-form-field>
              
        <table mat-table [dataSource]="listePartenairesTemporaires" matSort>
              
                <ng-container matColumnDef="dateAjout">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date de la demande</th>
                        <td mat-cell *matCellDef="let element" width="15%">
                            {{element.dateAjout | date: 'short'}}<br>
                        </td>
                </ng-container>

                <ng-container matColumnDef="parametres">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Informations</th>
                    <td mat-cell *matCellDef="let element" width="25%">
                        <b class="label-datagrid">Identité : </b>{{element.identite | titlecase}}<br>
                        <b class="label-datagrid">Tél : </b>{{element.telephone}}<br>
                        <b class="label-datagrid">Email : </b>{{element.email}}<br>
                        <b class="label-datagrid">Password : </b>{{element.password}}<br>
                    </td>
                </ng-container>

                <ng-container matColumnDef="contacts">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Entreprise</th>
                        <td mat-cell *matCellDef="let element" width="25%">
                            <b class="label-datagrid">Entreprise : </b>{{element.entreprise}}<br>
                            <b class="label-datagrid">Poste occupé : </b>{{element.posteOccupe}}<br>
                        </td>
                </ng-container>

                <ng-container matColumnDef="details">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Autres détails</th>
                        <td mat-cell *matCellDef="let element" width="30%">
                            <b class="label-datagrid">Détails : </b>{{element.descriptionDetaillee}}<br>
                        </td>
                </ng-container>

                <ng-container matColumnDef="more">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                  <td mat-cell *matCellDef="let element" width="5%" class="pointer">
                    <button mat-menu-item (click)="openDialogValidationEntreprise(element.email, element.entreprise, null)" matTooltip="Activer le partenaire" matTooltipPosition="right"><mat-icon>check_circle</mat-icon></button>
                  </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              
        <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>

<!-- Petits écrans -->
<div class="container" fxHide.gt-sm="true">
        <mat-form-field appearance="outline">
                <input matInput (keyup)="filtrerTable($event.target.value)" placeholder="Recherche rapide">
                <mat-icon matSuffix >search</mat-icon>
        </mat-form-field>
              
        <table mat-table [dataSource]="listePartenairesTemporaires" matSort>
              
                <ng-container matColumnDef="dateAjout">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Détails de la demande</th>
                    <td mat-cell *matCellDef="let element" width="95%">
                        <b class="label-datagrid">Date : </b>{{element.dateAjout | date: 'short'}}<br>
                        <b class="label-datagrid">Identité : </b>{{element.identite | titlecase}}<br>
                        <b class="label-datagrid">Tél : </b>{{element.telephone}}<br>
                        <b class="label-datagrid">Email : </b>{{element.email}}<br>
                        <b class="label-datagrid">Password : </b>{{element.password}}<br>
                        <b class="label-datagrid">Entreprise : </b>{{element.entreprise}}<br>
                        <b class="label-datagrid">Poste occupé : </b>{{element.posteOccupe}}<br>
                        <b class="label-datagrid">Détails : </b>{{element.descriptionDetaillee}}<br>
                    </td>
                </ng-container>

                <ng-container matColumnDef="parametres">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element" width="0%">

                    </td>
                </ng-container>

                <ng-container matColumnDef="contacts">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element" width="0%">

                        </td>
                </ng-container>

                <ng-container matColumnDef="details">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element" width="0%">
                            
                        </td>
                </ng-container>

                <ng-container matColumnDef="more">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element" width="5%" class="pointer">
                    <button mat-menu-item (click)="openDialogValidationEntreprise(element.email, element.entreprise, null)" matTooltip="Activer le partenaire" matTooltipPosition="right"><mat-icon>check_circle</mat-icon></button>
                  </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              
        <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
    