<!--Grands écrans-->
<div class="container"
      fxLayout
      fxLayout.xs="row"
      fxLayoutAlign="space-between stretch"
      fxLayoutGap="10px"
      fxLayoutGap.xs="0"
      fxShow="true" fxHide.lt-md="true">
    
      <div fxFlex="20%" style="background-color: #222;">
            <div class="title-blanc">
                Mon compte candidat
            </div>
      </div>

      <div fxFlex="65%">
            <div *ngIf="candidat">
                <table>
                        <tr>
                            <div class="titleCandidat">
                                Contacts & Rémunération
                            </div>
                        </tr>
        
                        <tr>
                          <td>
                         
                              <input matInput [(ngModel)]="candidat.id" hidden>
                              <mat-form-field appearance="fill">
                                    <mat-label>Identité du candidat</mat-label>
                                    <input matInput [(ngModel)]="candidat.identite" required readonly>
                                    <mat-icon matSuffix>account_circle</mat-icon>
                              </mat-form-field>
                          </td>
                          <td>
                              <mat-form-field appearance="outline">
                                <mat-label>Téléphone</mat-label>
                                <input matInput [(ngModel)]="candidat.telephoneAutoFill">
                                <mat-icon matSuffix>local_phone</mat-icon>
                              </mat-form-field>  
                          </td>
                          <td>
                              <mat-form-field appearance="fill">
                                <mat-label>Adresse email</mat-label>
                                <input matInput [(ngModel)]="candidat.email" required readonly>
                                <mat-icon matSuffix>mail</mat-icon>
                              </mat-form-field>  
                          </td>
                        </tr>
        
                        <tr>
                          <td>
                              <mat-form-field appearance="outline">
                                  <mat-label>Poste occupé</mat-label>
                                  <input matInput [(ngModel)]="candidat.posteOccupeAutoFill">
                              </mat-form-field>   
                          </td>
                          <td>
                                <mat-form-field appearance="outline">
                                    <mat-label>Entreprise actuelle</mat-label>
                                    <input matInput [(ngModel)]="candidat.entrepriseAutoFill">
                                </mat-form-field> 
                          </td>
                          <td>
                                <mat-form-field appearance="outline">
                                    <mat-label>Salaire actuel</mat-label>
                                    <input matInput [(ngModel)]="candidat.salaireActuelAutoFill">
                                </mat-form-field> 
                          </td>
                          </tr>
        
                          <tr>
                                <td>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Prétention salariale</mat-label>
                                        <input matInput [(ngModel)]="candidat.pretentionSalarialeAutoFill">
                                    </mat-form-field>  
                                </td>
                                <td>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Date de naissance</mat-label>
                                        <input matInput [matDatepicker]="picker" [(ngModel)]="candidat.dateDeNaissanceAutoFill">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #picker></mat-datepicker>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Adresse email secondaire</mat-label>
                                        <input matInput [(ngModel)]="candidat.emailAutoFill">
                                        <mat-icon matSuffix>mail</mat-icon>
                                    </mat-form-field>  
                                </td>
                          </tr>
                          <tr>
                            <div class="titleCandidat">
                                Diplômes obtenus
                            </div>
                          </tr>

                          <tr>
                            <td>
                                <mat-form-field appearance="outline">
                                    <mat-label>Type du diplôme</mat-label>
                                    <mat-select [(ngModel)]="candidat.diplome.typeDiplomeAutoFill">
                                    <mat-option value="Licence">Licence</mat-option>
                                    <mat-option value="Maitrise">Maîtrise</mat-option>
                                    <mat-option value="Master">Master</mat-option>
                                    <mat-option value="Ingenieur">Ingénieur</mat-option>
                                    <mat-option value="Doctorat">Doctorat</mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix>school</mat-icon>
                                </mat-form-field>    
                            </td>
                            <td>
                                <mat-form-field appearance="outline">
                                    <mat-label>École</mat-label>
                                    <input matInput [(ngModel)]="candidat.diplome.ecoleAutoFill">
                                </mat-form-field> 
                            </td>
                            <td>
                                <mat-form-field appearance="outline">
                                    <mat-label>Date obtention du diplôme</mat-label>
                                    <input matInput [matDatepicker]="picker3" [(ngModel)]="candidat.diplome.dateObtentionDiplomeAutoFill">
                                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                    <mat-datepicker touchUi #picker3></mat-datepicker>
                                </mat-form-field>
                            </td>
                          </tr>
            
                        <tr>
                            <div class="titleCandidat">
                                Visas obtenus & Disponibilité
                            </div>
                        </tr>
            
                        <tr>
                            <td>
                                <mat-form-field appearance="outline">
                                    <mat-label>Type du visa</mat-label>
                                    <mat-select [(ngModel)]="candidat.visa.typeVisaAutoFill">
                                        <mat-option value="TypeC">C</mat-option>
                                        <mat-option value="TypeD">D</mat-option>
                                        <mat-option value="CarteDeSejour">Carte de séjour</mat-option>
                                        <mat-option value="Nationalite">Nationalité</mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix>class</mat-icon>
                                </mat-form-field>    
                            </td>
                            <td>
                                <mat-form-field appearance="outline">
                                    <mat-label>Date début du visa</mat-label>
                                    <input matInput [matDatepicker]="picker4" [(ngModel)]="candidat.visa.dateDebutVisaAutoFill">
                                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                    <mat-datepicker touchUi #picker4></mat-datepicker>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="outline">
                                    <mat-label>Date fin du visa</mat-label>
                                    <input matInput [matDatepicker]="picker5" [(ngModel)]="candidat.visa.dateFinVisaAutoFill">
                                    <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                                    <mat-datepicker touchUi #picker5></mat-datepicker>
                                </mat-form-field>
                            </td>
                        </tr>
                    
                        <tr>
                            <td>
                                <mat-form-field appearance="outline">
                                    <mat-label>Disponibilité</mat-label>
                                    <mat-select [(ngModel)]="candidat.disponibiliteAutoFill">
                                        <mat-option value="Immediate">Immédiate</mat-option>
                                        <mat-option value="Sous_15_jours">Sous 15 jours</mat-option>
                                        <mat-option value="Sous_30_jours">Sous 30 jours</mat-option>
                                        <mat-option value="Sous_45_jours">Sous 45 jours</mat-option>
                                        <mat-option value="Sous_60_jours">Sous 60 jours</mat-option>
                                        <mat-option value="Sous_75_jours">Sous 75 jours</mat-option>
                                        <mat-option value="Sous_90_jours">Sous 90 jours</mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix>schedule</mat-icon>
                                </mat-form-field>      
                            </td>
                            <td>
                                <mat-form-field appearance="outline">
                                    <mat-label>Date démarrage de carrière</mat-label>
                                    <input matInput [matDatepicker]="picker1" [(ngModel)]="candidat.dateDemarrageCarriereAutoFill">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker touchUi #picker1></mat-datepicker>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="outline">
                                    <mat-label>Date épuisement du passeport</mat-label>
                                    <input matInput [matDatepicker]="picker2" [(ngModel)]="candidat.dateEpuisementPasseportAutoFill">
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker touchUi #picker2></mat-datepicker>
                                </mat-form-field>   
                            </td>
                        </tr>
                
                        <tr>
                                <div class="titleCandidat">
                                    Informations familiales
                                </div>
                        </tr>
            
                        <tr>
                            <td>
                                <mat-form-field appearance="outline">
                                    <mat-label>Situation familiale</mat-label>
                                    <mat-select [(ngModel)]="candidat.situationFamilialeAutoFill">
                                    <mat-option value="Celibataire">Célibataire</mat-option>
                                    <mat-option value="Fiance">Fiancé</mat-option>
                                    <mat-option value="Marie">Marié</mat-option>
                                    <mat-option value="Divorce">Divorcé</mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix>wc</mat-icon>
                                </mat-form-field>    
                            </td>
                            <td>
                                <mat-form-field appearance="outline">
                                    <mat-label>Nombre d'enfants</mat-label>
                                    <mat-select [(ngModel)]="candidat.nombreEnfantsAutoFill">
                                    <mat-option value="0">0</mat-option>
                                    <mat-option value="1">1</mat-option>
                                    <mat-option value="2">2</mat-option>
                                    <mat-option value="3">3</mat-option>
                                    <mat-option value="4">4</mat-option>
                                    <mat-option value="5">5</mat-option>
                                    </mat-select>
                                    <mat-icon matSuffix>child_care</mat-icon>
                                </mat-form-field>    
                            </td>
                            <td>
                                <mat-form-field appearance="outline">
                                <mat-label>Adresse</mat-label>
                                <input matInput [(ngModel)]="candidat.adresseAutoFill">
                                <mat-icon matSuffix>add_location</mat-icon>
                                </mat-form-field>  
                            </td>
                        </tr> 
                </table> 
                <div class="titleCandidat">
                    Autres détails
                </div>  
                <mat-form-field appearance="outline" >
                        <textarea matInput [(ngModel)]="candidat.descriptionDetailleeAutoFill" style="height: 80px;overflow-y: auto"></textarea>
                        <mat-icon matSuffix>description</mat-icon>
                </mat-form-field>  

                
                <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-bottom: 10px">
                    <button mat-flat-button style="width:30%;"
                    (click)="editCandidatAutoFill(
                        candidat.id,
                        candidat.telephoneAutoFill,
                        candidat.posteOccupeAutoFill,
                        candidat.entrepriseAutoFill,
                        candidat.salaireActuelAutoFill,
                        candidat.pretentionSalarialeAutoFill,
                        candidat.dateDeNaissanceAutoFill,
                        candidat.emailAutoFill,
                        candidat.disponibiliteAutoFill,
                        candidat.dateDemarrageCarriereAutoFill,
                        candidat.dateEpuisementPasseportAutoFill,
                        candidat.situationFamilialeAutoFill,
                        candidat.nombreEnfantsAutoFill,
                        candidat.adresseAutoFill,
                        candidat.descriptionDetailleeAutoFill,
                        candidat.diplome,
                        candidat.visa
                    )">Modifier mes informations</button>
                </div>
      </div>
      </div>

      <!--Partie Droite-->
      <div fxFlex="15%" fxLayout="column" fxLayoutAlign="start center"> 
            <div *ngIf="candidat && (candidat.urlPhotoAutoFill || candidat.urlPhoto); else SINON" style="margin-bottom: 15px;">
                <div *ngIf="candidat.urlPhotoAutoFill; else SINON_CANDIDAT_EXISTS">
                    <img src="{{candidat.urlPhotoAutoFill}}"/>
                 </div> 
                 <ng-template #SINON_CANDIDAT_EXISTS>
                    <img src="{{candidat.urlPhoto}}"/>
                 </ng-template>
            </div>
            <ng-template #SINON>
                <img src="/assets/img/candidat.png"/>
            </ng-template>

            <div class="titleCandidat">Ajouter un CV</div>
            <div class="image-upload" style="margin-bottom: 15px;">
                <label for="cvoriginalAutoFill">
                    <mat-icon class="pointer">attach_file</mat-icon>
                </label>
                <input id="cvoriginalAutoFill" type="file" style="display: none;" (change)="selectCvOriginalAutoFill($event, 'cvoriginalAutoFill')">
            </div>
            <div class="file-upload">{{nameCv}}</div>

            <div *ngIf="urlCvOriginalAutoFill != null"><!--Affiche CV Original s'il existe-->
                <div class="titleCandidat" style="margin-bottom: 15px;">Consulter le CV</div><a href="{{storageUrl}}{{urlCvOriginalAutoFill}}" target="_blank"><mat-icon matSuffix>link</mat-icon></a>
            </div>

            <div class="titleCandidat">Photo de profil</div>
            <div class="image-upload" style="margin-bottom: 15px;">
                    <label for="photodeprofilAutoFill">
                      <mat-icon class="pointer">add_a_photo</mat-icon>
                    </label>
                    <input id="photodeprofilAutoFill" type="file" style="display: none;" (change)="selectPhotoProfilAutoFill($event, 'photodeprofilAutoFill')"> 
            </div>
            <div class="file-upload">{{namePhoto}}</div>

      </div>
</div> 


<!--Petis écrans--> 
<div  fxLayout
      fxLayout.xs="column"
      fxLayoutAlign="space-between stretch"
      fxShow="true" fxHide.gt-sm="true">
    

        <div class="titleCandidat">
            Mon compte candidat
        </div>

        <div *ngIf="candidat">
                <div *ngIf="candidat && (candidat.urlPhotoAutoFill || candidat.urlPhoto); else SINON" style="margin-bottom: 15px;text-align: center;">
                    <div *ngIf="candidat.urlPhotoAutoFill; else SINON_CANDIDAT_EXISTS">
                        <img src="{{candidat.urlPhotoAutoFill}}"/>
                    </div> 
                    <ng-template #SINON_CANDIDAT_EXISTS>
                        <img src="{{candidat.urlPhoto}}"/>
                    </ng-template>
                </div>
                <ng-template #SINON>
                        <img src="/assets/img/candidat.png"/>
                </ng-template>
        

        
                <div class="titleCandidat">
                        Contacts & Rémunération
                </div>

                <input matInput [(ngModel)]="candidat.id" hidden>
                <mat-form-field appearance="fill">
                        <mat-label>Identité du candidat</mat-label>
                        <input matInput [(ngModel)]="candidat.identite" required readonly>
                        <mat-icon matSuffix>account_circle</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Téléphone</mat-label>
                    <input matInput [(ngModel)]="candidat.telephoneAutoFill">
                    <mat-icon matSuffix>local_phone</mat-icon>
                </mat-form-field>  

                <mat-form-field appearance="fill">
                    <mat-label>Adresse email</mat-label>
                    <input matInput [(ngModel)]="candidat.email" required readonly>
                    <mat-icon matSuffix>mail</mat-icon>
                </mat-form-field>  

                <mat-form-field appearance="outline">
                    <mat-label>Poste occupé</mat-label>
                    <input matInput [(ngModel)]="candidat.posteOccupeAutoFill">
                </mat-form-field>   

                <mat-form-field appearance="outline">
                    <mat-label>Entreprise actuelle</mat-label>
                    <input matInput [(ngModel)]="candidat.entrepriseAutoFill">
                </mat-form-field> 

                <mat-form-field appearance="outline">
                    <mat-label>Salaire actuel</mat-label>
                    <input matInput [(ngModel)]="candidat.salaireActuelAutoFill">
                </mat-form-field> 

                <mat-form-field appearance="outline">
                    <mat-label>Prétention salariale</mat-label>
                    <input matInput [(ngModel)]="candidat.pretentionSalarialeAutoFill">
                </mat-form-field>  

                <mat-form-field appearance="outline">
                    <mat-label>Date de naissance</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="candidat.dateDeNaissanceAutoFill">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Adresse email secondaire</mat-label>
                    <input matInput [(ngModel)]="candidat.emailAutoFill">
                    <mat-icon matSuffix>mail</mat-icon>
                </mat-form-field>  
                
                <div class="titleCandidat">
                    Diplômes obtenus
                </div>

                <mat-form-field appearance="outline">
                    <mat-label>Type du diplôme</mat-label>
                    <mat-select [(ngModel)]="candidat.diplome.typeDiplomeAutoFill">
                    <mat-option value="Licence">Licence</mat-option>
                    <mat-option value="Maitrise">Maîtrise</mat-option>
                    <mat-option value="Master">Master</mat-option>
                    <mat-option value="Ingenieur">Ingénieur</mat-option>
                    <mat-option value="Doctorat">Doctorat</mat-option>
                    </mat-select>
                    <mat-icon matSuffix>school</mat-icon>
                </mat-form-field>    

                <mat-form-field appearance="outline">
                    <mat-label>École</mat-label>
                    <input matInput [(ngModel)]="candidat.diplome.ecoleAutoFill">
                </mat-form-field> 

                <mat-form-field appearance="outline">
                    <mat-label>Date obtention du diplôme</mat-label>
                    <input matInput [matDatepicker]="picker3" [(ngModel)]="candidat.diplome.dateObtentionDiplomeAutoFill">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker3></mat-datepicker>
                </mat-form-field>


                <div class="titleCandidat">
                    Visas obtenus & Disponibilité
                </div>

                <mat-form-field appearance="outline">
                    <mat-label>Type du visa</mat-label>
                    <mat-select [(ngModel)]="candidat.visa.typeVisaAutoFill">
                        <mat-option value="TypeC">C</mat-option>
                        <mat-option value="TypeD">D</mat-option>
                        <mat-option value="CarteDeSejour">Carte de séjour</mat-option>
                        <mat-option value="Nationalite">Nationalité</mat-option>
                    </mat-select>
                    <mat-icon matSuffix>class</mat-icon>
                </mat-form-field>    

                <mat-form-field appearance="outline">
                    <mat-label>Date début du visa</mat-label>
                    <input matInput [matDatepicker]="picker4" [(ngModel)]="candidat.visa.dateDebutVisaAutoFill">
                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker4></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Date fin du visa</mat-label>
                    <input matInput [matDatepicker]="picker5" [(ngModel)]="candidat.visa.dateFinVisaAutoFill">
                    <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker5></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Disponibilité</mat-label>
                    <mat-select [(ngModel)]="candidat.disponibiliteAutoFill">
                        <mat-option value="Immediate">Immédiate</mat-option>
                        <mat-option value="Sous_15_jours">Sous 15 jours</mat-option>
                        <mat-option value="Sous_30_jours">Sous 30 jours</mat-option>
                        <mat-option value="Sous_45_jours">Sous 45 jours</mat-option>
                        <mat-option value="Sous_60_jours">Sous 60 jours</mat-option>
                        <mat-option value="Sous_75_jours">Sous 75 jours</mat-option>
                        <mat-option value="Sous_90_jours">Sous 90 jours</mat-option>
                    </mat-select>
                    <mat-icon matSuffix>schedule</mat-icon>
                </mat-form-field>      

                <mat-form-field appearance="outline">
                    <mat-label>Date démarrage de carrière</mat-label>
                    <input matInput [matDatepicker]="picker1" [(ngModel)]="candidat.dateDemarrageCarriereAutoFill">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker1></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Date épuisement du passeport</mat-label>
                    <input matInput [matDatepicker]="picker2" [(ngModel)]="candidat.dateEpuisementPasseportAutoFill">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker2></mat-datepicker>
                </mat-form-field>   

                <div class="titleCandidat">
                    Informations familiales
                </div>

                <mat-form-field appearance="outline">
                    <mat-label>Situation familiale</mat-label>
                    <mat-select [(ngModel)]="candidat.situationFamilialeAutoFill">
                        <mat-option value="Celibataire">Célibataire</mat-option>
                        <mat-option value="Fiance">Fiancé</mat-option>
                        <mat-option value="Marie">Marié</mat-option>
                        <mat-option value="Divorce">Divorcé</mat-option>
                    </mat-select>
                    <mat-icon matSuffix>wc</mat-icon>
                </mat-form-field>    

                <mat-form-field appearance="outline">
                    <mat-label>Nombre d'enfants</mat-label>
                    <mat-select [(ngModel)]="candidat.nombreEnfantsAutoFill">
                        <mat-option value="0">0</mat-option>
                        <mat-option value="1">1</mat-option>
                        <mat-option value="2">2</mat-option>
                        <mat-option value="3">3</mat-option>
                        <mat-option value="4">4</mat-option>
                        <mat-option value="5">5</mat-option>
                    </mat-select>
                    <mat-icon matSuffix>child_care</mat-icon>
                </mat-form-field>    

                <mat-form-field appearance="outline">
                    <mat-label>Adresse</mat-label>
                    <input matInput [(ngModel)]="candidat.adresseAutoFill">
                    <mat-icon matSuffix>add_location</mat-icon>
                </mat-form-field>  

                <div class="titleCandidat">
                    Autres détails
                </div>  
                <mat-form-field appearance="outline" >
                    <textarea matInput [(ngModel)]="candidat.descriptionDetailleeAutoFill" style="height: 80px;overflow-y: auto"></textarea>
                    <mat-icon matSuffix>description</mat-icon>
                </mat-form-field>  

                <div class="titleCandidat" style="text-align: center;">Ajouter un CV</div>
                <div class="image-upload" style="margin-bottom: 15px;text-align: center;">
                    <label for="cvoriginalAutoFill">
                        <mat-icon class="pointer">attach_file</mat-icon>
                    </label>
                    <input id="cvoriginalAutoFill" type="file" style="display: none;" (change)="selectCvOriginalAutoFill($event, 'cvoriginalAutoFill')">
                </div>
                <div class="file-upload" style="text-align: center;">{{nameCv}}</div>
    
                <div *ngIf="urlCvOriginalAutoFill != null" style="text-align: center;"><!--Affiche CV Original s'il existe-->
                    <div class="titleCandidat" style="margin-bottom: 15px;">Consulter le CV</div><a href="{{storageUrl}}{{urlCvOriginalAutoFill}}" target="_blank"><mat-icon matSuffix>link</mat-icon></a>
                </div>
    
                <div class="titleCandidat" style="text-align: center;">Photo de profil</div>
                <div class="image-upload" style="margin-bottom: 15px;text-align: center;">
                        <label for="photodeprofilAutoFill">
                          <mat-icon class="pointer">add_a_photo</mat-icon>
                        </label>
                        <input id="photodeprofilAutoFill" type="file" style="display: none;" (change)="selectPhotoProfilAutoFill($event, 'photodeprofilAutoFill')"> 
                </div>
                <div class="file-upload" style="text-align: center;">{{namePhoto}}</div>

                <button mat-flat-button  style="margin-bottom: 20px; margin-top: 20px;" (click)="editCandidatAutoFill(
                    candidat.id,
                    candidat.telephoneAutoFill,
                    candidat.posteOccupeAutoFill,
                    candidat.entrepriseAutoFill,
                    candidat.salaireActuelAutoFill,
                    candidat.pretentionSalarialeAutoFill,
                    candidat.dateDeNaissanceAutoFill,
                    candidat.emailAutoFill,
                    candidat.disponibiliteAutoFill,
                    candidat.dateDemarrageCarriereAutoFill,
                    candidat.dateEpuisementPasseportAutoFill,
                    candidat.situationFamilialeAutoFill,
                    candidat.nombreEnfantsAutoFill,
                    candidat.adresseAutoFill,
                    candidat.descriptionDetailleeAutoFill,
                    candidat.diplome,
                    candidat.visa)">Modifier mes informations
                </button>
        </div>
</div>