<!--Grands écrans-->
<div class="container"
      fxLayout
      fxLayout.xs="row"
      fxLayoutAlign="space-between stretch"
      fxLayoutGap="10px"
      fxLayoutGap.xs="0"
      fxShow="true" fxHide.lt-md="true">
    
      <div fxFlex="20%" style="background-color: #222;">
            <div class="title-blanc">
                Mon compte candidat
            </div>
      </div>

      <div fxFlex="65%">
            <div *ngIf="candidat">
                <table>
                        <tr>
                            <div class="titleCandidat">
                                Contacts & Rémunération
                            </div>
                        </tr>
        
                        <tr>
                          <td>
                         
                              <input matInput [(ngModel)]="candidat.id" hidden>
                              <mat-form-field appearance="fill">
                                    <mat-label>Identité du candidat</mat-label>
                                    <input matInput [(ngModel)]="candidat.identite" required readonly>
                                    <mat-icon matSuffix>account_circle</mat-icon>
                              </mat-form-field>
                          </td>
                          <td>
                              <mat-form-field appearance="outline">
                                <mat-label>Téléphone</mat-label>
                                <input matInput [(ngModel)]="candidat.telephone">
                                <mat-icon matSuffix>local_phone</mat-icon>
                              </mat-form-field>  
                          </td>
                          <td>
                              <mat-form-field appearance="fill">
                                <mat-label>Adresse email</mat-label>
                                <input matInput [(ngModel)]="candidat.email" required readonly>
                                <mat-icon matSuffix>mail</mat-icon>
                              </mat-form-field>  
                          </td>
                        </tr>
        
                        <tr>
                          <td>
                              <mat-form-field appearance="outline">
                                  <mat-label>Poste occupé</mat-label>
                                  <input matInput [(ngModel)]="candidat.posteOccupe">
                              </mat-form-field>   
                          </td>
                          <td>
                                <mat-form-field appearance="outline">
                                    <mat-label>Salaire actuel</mat-label>
                                    <input matInput [(ngModel)]="candidat.salaireActuel">
                                </mat-form-field> 
                          </td>
                          <td>
                                <mat-form-field appearance="outline">
                                    <mat-label>Prétention salariale</mat-label>
                                    <input matInput [(ngModel)]="candidat.pretentionSalariale">
                                </mat-form-field>  
                          </td>
                          </tr>
        
                          <tr>
                                <td>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Date de naissance</mat-label>
                                        <input matInput [matDatepicker]="picker" [(ngModel)]="candidat.dateDeNaissance">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #picker></mat-datepicker>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Nom d'utilisateur</mat-label>
                                        <input matInput [(ngModel)]="candidat.username" required>
                                        <mat-icon matSuffix>perm_identity</mat-icon>
                                    </mat-form-field> 
                                </td>
                                <td>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Mot de passe</mat-label>
                                        <input matInput [(ngModel)]="candidat.password" type="password" required>
                                        <mat-icon matSuffix>lock</mat-icon>
                                    </mat-form-field>
                                </td>
                          </tr>
                </table>        
      </div>
      </div>
      <div fxFlex="15%" fxLayout="row" fxLayoutAlign="center start">
            <div *ngIf="candidat">
                <img src="{{candidat.urlPhoto}}"/>
            </div>
      </div>
</div> 


<!--Petis écrans--> 
<div  fxLayout
      fxLayout.xs="column"
      fxLayoutAlign="space-between stretch"
      fxShow="true" fxHide.gt-sm="true">
    
      <div style="background-color: #222">
            <div class="title-blanc">
                Mon compte candidat
            </div>
      </div>

      <div>
            <div *ngIf="candidat">
                identité : {{candidat.identite}}
                <br>
                email : {{candidat.email}}
            </div>
      </div>
</div>