  .pointer{
    cursor: pointer;
    padding-bottom: 24%;
    border-radius: 50%;
    font-size:70px;
  }

  .titleCandidat {
    font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 1.075rem;
    font-variant-ligatures: no-contextual;
    font-weight: 400;
    color: #cf980d;
    margin-bottom: 5px;
  }