  .header{
    width:100%; 
    background-color: #222;
  }
  
  mat-toolbar{
    background-color: #222;
  }

  .mat-menu-item {
    color: #222 !important;
    font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    font-variant-ligatures: no-contextual;
  }

  a.mat-button {
    color: #fff !important;
    background-color: #212121;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    font-variant-ligatures: no-contextual;
  }
  a.mat-button:hover {
    background-color: #fff;
    color:#212121 !important;
    font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    font-variant-ligatures: no-contextual;
  }

  
  button.mat-button {
    color: #fff !important;
    background-color: #212121;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    font-variant-ligatures: no-contextual;
    
  }
  button.mat-button:hover {
    background-color: #fff;
    color:#212121 !important;
    font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    font-variant-ligatures: no-contextual;
  }
  
  button.mat-menu-item{
      background-color: white;
      font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
      font-size: 0.875rem;
      font-weight: 400;
      font-variant-ligatures: no-contextual;
  }
  button.mat-menu-item:hover {
      background-color: #212121;
      color: white !important;
      font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
      font-size: 0.875rem;
      font-weight: 400;
      font-variant-ligatures: no-contextual;
  }

  img {
    height: 95%;
    border-radius: 2%;
    margin-left: 15px;
    margin-top:5px;
  }

  .logo{
    height: 25px;
    width: 72px;
  }


