<div>
  <h2 mat-dialog-title>Modifier l'entreprise</h2>

  <mat-form-field appearance="outline">
      <mat-label>Libellé de l'entreprise</mat-label>
      <input matInput [(ngModel)]="data.idEntreprise" hidden>
      <input matInput [(ngModel)]="data.nomEntreprise">
      <mat-icon matSuffix>edit</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline" >
      <mat-label>Description de l'entreprise</mat-label>
      <textarea matInput [(ngModel)]="data.descriptionDetaillee" rows="8"></textarea>
      <mat-icon matSuffix>description</mat-icon>
  </mat-form-field>
  
  <div style="display: flex;justify-content: space-between;">
      <button mat-flat-button [mat-dialog-close]="data" style="margin-right: 10px">Confirmer</button>
      <button mat-stroked-button mat-dialog-close style="margin-left: 10px">Annuler</button>
  </div>
</div>