<form [formGroup]="formTechnologie" (ngSubmit)="addTechnologieController()">

  <mat-form-field appearance="outline">
      <mat-label>Nom de la technologie</mat-label>
      <input matInput formControlName="nomTechnologie">
      <mat-icon matSuffix>add_circle</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline" >
      <mat-label>Description détaillée</mat-label>
      <textarea matInput formControlName="descriptionDetaillee" rows="8"></textarea>
      <mat-icon matSuffix>description</mat-icon>
  </mat-form-field>

  <button mat-flat-button type="submit">Ajouter une technologie</button><br><br>
  <button mat-stroked-button type="reset">Tout réinitialiser</button><br><br>

</form>
