<div class="title">
    Ajouter une opportunité
</div>

<!--Grands écrans-->
<form [formGroup]="formOpportunite" (ngSubmit)="addOpportuniteController()" fxHide.lt-md="true">
    <div fxLayout
         fxLayout.xs="row"
         fxLayoutAlign="space-between start"
         fxLayoutGap="10px"
         fxLayoutGap.xs="0">
     
    <!-- Container : Partie Gauche -->
    <div fxFlex="70%"> 
    <table>
            
                  
      <tr>
        <td>
            <mat-form-field appearance="outline">
              <mat-label>Titre de l'opportunite</mat-label>
              <input matInput formControlName="titreOpportunite" required>
              <mat-icon matSuffix>title</mat-icon>
            </mat-form-field>
        </td>
        
        <td>
            <mat-form-field appearance="outline">
                <mat-label>TJM</mat-label>
                <input matInput formControlName="tjmOpportunite">
                <mat-icon matSuffix>euro_symbol</mat-icon>
            </mat-form-field> 
        </td>
      </tr>

      <tr>
            <td>
                <div class="title-visibilite">
                    Visibilité de l'opportunité * : 
                </div>
            </td>
            <td>
                <mat-radio-group appearance="outline" formControlName="visibiliteOpportunite" required>
                    <mat-radio-button value="Public" matTooltip="Visible par tout le monde">Publique  </mat-radio-button>
                    <mat-radio-button value="Private" matTooltip="Visible par moi uniquement">  Privée</mat-radio-button>
                </mat-radio-group> 
            </td>
      </tr>
    
      <tr>
           <td *ngIf="role === 'ROLE_ADMINISTRATEUR'">
              <app-liste-partenaires
                 (partenaireIdEvent)="partenaireIdEventListner($event)">
              </app-liste-partenaires>
           </td>
           <td>
              <mat-form-field appearance="outline">
                  <mat-label>Date de démarrage</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="dateDemarrageSouhaitee">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker touchUi #picker></mat-datepicker>
              </mat-form-field>
           </td>
      </tr>
       
    </table>
     
          <mat-form-field appearance="outline" >
              <mat-label>Description détaillée</mat-label>
              <textarea matInput formControlName="descriptionOpportunite" style="height: 80px;overflow-y: auto"></textarea>
              <mat-icon matSuffix>description</mat-icon>
          </mat-form-field>
    
          <div style="display: flex;justify-content: space-between;">
            <button mat-flat-button [disabled]="!formOpportunite.valid" type="submit" (click)="inputSideNav.toggle();" style="margin-right: 10px">Ajouter une opportunité</button>
            <button mat-stroked-button type="reset"  style="margin-left: 10px">Tout réinitialiser</button>
          </div> 
          <br>

    </div>

    <!-- Container : Partie Droite -->
    <div fxFlex="30%">
        <table>
            <tr>
                <app-liste-candidats-for-add (listeCandidatsEvent)="listeCandidatsOpportunitesEventListner($event)"></app-liste-candidats-for-add>
            </tr>

            <tr>
                <app-liste-technologies-for-add (listeTechnologiesEvent)="listeTechnologiesOpportunitesEventListner($event)"></app-liste-technologies-for-add>
            </tr>

            <tr>
                <app-liste-certifications-for-add (listeCertificationsEvent)="listeCertificationsOpportunitesEventListner($event)"></app-liste-certifications-for-add>
            </tr>
        </table>
    </div>
</div>
</form>

<!--Petits écrans-->
<form [formGroup]="formOpportunite" (ngSubmit)="addOpportuniteController()" fxLayout="column" fxLayoutAlign="start stretch" fxHide.gt-sm="true">
   
        <!-- Container : Partie Gauche -->
    
        <mat-form-field appearance="outline">
            <mat-label>Titre de l'opportunite</mat-label>
            <input matInput formControlName="titreOpportunite" required>
            <mat-icon matSuffix>title</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>TJM</mat-label>
            <input matInput formControlName="tjmOpportunite">
            <mat-icon matSuffix>euro_symbol</mat-icon>
        </mat-form-field> 
  
        <div class="title-visibilite">
            Visibilité de l'opportunité * : 
        </div>


        <mat-radio-group appearance="outline" formControlName="visibiliteOpportunite" required fxLayout="row" fxLayoutAlign="space-evenly stretch">
            <mat-radio-button value="Public" matTooltip="Visible par tout le monde">Publique  </mat-radio-button>
            <mat-radio-button value="Private" matTooltip="Visible par moi uniquement">  Privée</mat-radio-button>
        </mat-radio-group> 

        <div *ngIf="role === 'ROLE_ADMINISTRATEUR'">
            <app-liste-partenaires
                (partenaireIdEvent)="partenaireIdEventListner($event)">
            </app-liste-partenaires>
        </div>
        
        <mat-form-field appearance="outline">
            <mat-label>Date de démarrage</mat-label>
            <input matInput [matDatepicker]="pickerSmall" formControlName="dateDemarrageSouhaitee">
            <mat-datepicker-toggle matSuffix [for]="pickerSmall"></mat-datepicker-toggle>
            <mat-datepicker touchUi #pickerSmall></mat-datepicker>
        </mat-form-field>
    

         
        <mat-form-field appearance="outline" >
            <mat-label>Description détaillée</mat-label>
            <textarea matInput formControlName="descriptionOpportunite" style="height: 80px;overflow-y: auto"></textarea>
            <mat-icon matSuffix>description</mat-icon>
        </mat-form-field>
        
        
        <button mat-flat-button [disabled]="!formOpportunite.valid" type="submit" (click)="inputSideNav.toggle();" style="margin-bottom: 10px">Ajouter une opportunité</button>
        
        <button mat-stroked-button type="reset" style="margin-bottom: 10px">Tout réinitialiser</button>
  
    
        <!-- Container : Partie Droite -->

        <app-liste-candidats-for-add (listeCandidatsEvent)="listeCandidatsOpportunitesEventListner($event)"></app-liste-candidats-for-add>
 
        <app-liste-technologies-for-add (listeTechnologiesEvent)="listeTechnologiesOpportunitesEventListner($event)"></app-liste-technologies-for-add>
  
        <app-liste-certifications-for-add (listeCertificationsEvent)="listeCertificationsOpportunitesEventListner($event)"></app-liste-certifications-for-add>

</form>