<div class="title-xs-higher-popup" style="text-align: center">
    Mot de passe oublié
</div>
<form [formGroup]="formRecupererPassword">

    <mat-form-field appearance="outline">
            <mat-label>Votre adresse email</mat-label>
            <input matInput formControlName="email" required>
            <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
  
    <div fxLayout="row" fxLayoutAlign="space-between stretch" fxHide.lt-md="true"> 
        <button mat-flat-button mat-dialog-close (click)="recupererPassword()" type="submit" [disabled]="!formRecupererPassword.valid" style="margin-right: 10px;width:60%">Récuperer mon mot de passe</button>
        <button mat-stroked-button mat-dialog-close style="margin-left: 10px;width:35%" dir="rtl">Annuler</button>
    </div>


    <!-- Visible sur Petits écrans seulement -->
    <div fxLayout="column" fxLayoutAlign="space-evenly stretch" fxHide.gt-sm="true" > 
        <button mat-flat-button mat-dialog-close (click)="recupererPassword()" type="submit" [disabled]="!formRecupererPassword.valid">Récuperer mon mot de passe</button>
        <button mat-stroked-button mat-dialog-close style="margin-top: 10px;">Annuler</button>
    </div>
    
</form> 
