<div class="title">
    Ajouter un projet
</div>
<form [formGroup]="formProjet" (ngSubmit)="addProjetController()">

  <mat-form-field appearance="outline">
      <mat-label>Intitulé du projet</mat-label>
      <input matInput formControlName="nomProjet" required>
      <mat-icon matSuffix>add_circle</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline" >
      <mat-label>Détails</mat-label>
      <textarea matInput formControlName="detailsProjet"></textarea>
      <mat-icon matSuffix>description</mat-icon>
  </mat-form-field>

  <mat-dialog-actions style="display: flex;justify-content: end;">
      <button mat-flat-button (click)="save()" [disabled]="!formProjet.valid" style="margin-bottom: 20px">Ajouter un projet</button>
      <button mat-stroked-button mat-dialog-close >Tout réinitialiser</button>
  </mat-dialog-actions>

</form>
