<form [formGroup]="formTechnologie" (ngSubmit)="addTechnologieController()">
  
  <h2 mat-dialog-title>Ajouter une technologie</h2>

  <mat-form-field appearance="outline">
      <mat-label>Nom de la technologie</mat-label>
      <input matInput formControlName="nomTechnologie" required>
      <mat-icon matSuffix>add_circle</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline" >
      <mat-label>Description détaillée</mat-label>
      <textarea matInput formControlName="descriptionDetaillee" rows="8"></textarea>
      <mat-icon matSuffix>description</mat-icon>
  </mat-form-field>
  
  <mat-dialog-actions style="display: flex;justify-content: end;">
    <button mat-flat-button [disabled]="!formTechnologie.valid" (click)="save()">Ajouter une technologie</button><br><br><br>
    <button mat-stroked-button mat-dialog-close >Tout réinitialiser</button>
  </mat-dialog-actions>
  
</form>
