<div fxLayout="row" fxLayoutAlign="center stretch" style="margin-bottom: 30px"> 
    <button mat-stroked-button (click)="technologieVsOpportunites()" style="min-width:30%; width:auto; margin-right: 20px">Opportunités liées</button>
    <button mat-stroked-button (click)="technologieVsCandidats()" style="min-width:30%; width:auto;">Candidats liés</button>
</div>

<div class="chart">
      <canvas baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [colors]="pieChartColors"
        [legend]="pieChartLegend">
      </canvas>
</div>
