<div class="title-xs-higher" fxLayout="row" fxLayoutAlign="space-between stretch" >
    Gestion des certifications
</div>

<div class="container" 
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="start stretch"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

    <!-- Container : Formulaire : Ajout Certification-->
    <div fxFlex="25%"  *ngIf="role === 'Administrateur'">
      <app-form-add-certifications (refreshTableEvent)="onRefreshTableEvent($event)"></app-form-add-certifications>
    </div>
  
    <!-- Container : DataGrid -->
    <div fxFlex>
      <app-datagrid-certifications></app-datagrid-certifications>
    </div>
    
</div>