<div class="title-xs-higher" fxLayout="row" fxLayoutAlign="space-between stretch" >
    Gestion des certifications
</div>

<div class="container" 
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="start stretch"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

  <div *ngIf="role === 'Administrateur'; else SHOWELSE">
    <!-- Container : Formulaire : Ajout Certification-->
    <div fxFlex="25%">
      <app-form-add-certifications (refreshTableEvent)="onRefreshTableEvent($event)"></app-form-add-certifications>
    </div>
  
    <!-- Container : DataGrid -->
    <div fxFlex="75%">
      <app-datagrid-certifications></app-datagrid-certifications>
    </div>
  </div>
  
  <ng-template #SHOWELSE>
      <!-- Container : DataGrid uniquement-->
      <div fxFlex="100%">
          <app-datagrid-certifications></app-datagrid-certifications>
      </div>
  </ng-template>

</div>