<div class="chart">
      <canvas baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [colors]="pieChartColors"
        [legend]="pieChartLegend">
      </canvas>
</div>
<div fxLayout="row" fxLayoutAlign="space-between end" style="margin-top: 70px"> 
    <button mat-flat-button (click)="technologieVsCandidats()" style="width:40%; margin-left: 25px">technologieVsCandidats</button>
    <button mat-flat-button (click)="technologieVsOpportunites()" style="width:40%; margin-right: 25px">technologieVsOpportunites</button>
</div>
