<div fxLayout="row" fxLayoutAlign="center start" style="margin-bottom: 30px"> 
    <button mat-stroked-button (click)="technologieVsOpportunites()" style="width:30%; margin-right: 20px">Filtrer les Opportunités</button>
    <button mat-stroked-button (click)="technologieVsCandidats()" style="width:30%;">Filtrer les Candidats</button>
</div>

<div class="chart">
      <canvas baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [colors]="pieChartColors"
        [legend]="pieChartLegend">
      </canvas>
</div>
