  img {
    height:80px;
    width:80px;
    border-radius: 50%;
  }

  .title-visibilite {
    font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 1.175rem;
    font-variant-ligatures: no-contextual;
    color: #202124;
    font-weight: 450;
    margin-bottom: 15px;
  }