<h2 mat-dialog-title>Modifier l'opportunité</h2>

<div fxLayout
     fxLayout.xs="row"
     fxLayoutAlign="space-between start"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
     
<!-- Container : Partie Gauche -->
<div fxFlex="70%"> 
    <table>
        <tr>
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>Titre de l'opportunité</mat-label>
                    <input matInput [(ngModel)]="data.id" hidden>
                    <input matInput [(ngModel)]="data.titreOpportunite">
                    <mat-icon matSuffix>title</mat-icon>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>TJM</mat-label>
                    <input matInput [(ngModel)]="data.tjmOpportunite">
                    <mat-icon matSuffix>euro_symbol</mat-icon>
                </mat-form-field> 
            </td>
        </tr>

        <tr>
            <td>
                <div class="title-visibilite">
                    Visibilité de l'opportunité : 
                </div>
            </td>
            <td>
                <div *ngIf="data.visibiliteOpportunite === 'Public'; else notShow">
                    <mat-radio-group appearance="outline" [(ngModel)]="data.visibiliteOpportunite">
                        <mat-radio-button value="Public" matTooltip="Visible par tout le monde" [checked]="true">Publique  </mat-radio-button>
                        <mat-radio-button value="Private" matTooltip="Visible par moi uniquement">  Privée</mat-radio-button>
                    </mat-radio-group> 
                </div>
                        
                <ng-template #notShow>
                    <mat-radio-group appearance="outline" [(ngModel)]="data.visibiliteOpportunite">
                        <mat-radio-button value="Public" matTooltip="Visible par tout le monde">Publique  </mat-radio-button>
                        <mat-radio-button value="Private" matTooltip="Visible par moi uniquement" [checked]="true">  Privée</mat-radio-button>
                    </mat-radio-group> 
                </ng-template>
            </td>
        </tr>

        <tr>
            <td>
                <!--Test si Partenaire est défini-->
                <div *ngIf="data.responsableOpportunite;else SINON">
                    <app-liste-partenaires  *ngIf="role === 'Administrateur'"
                        [partenaireId]="data.responsableOpportunite.id"
                        (partenaireIdEvent)="partenaireIdEventListner($event)">
                    </app-liste-partenaires>    
                </div>
                <ng-template #SINON>
                    <app-liste-partenaires  *ngIf="role === 'Administrateur'"
                        (partenaireIdEvent)="partenaireIdEventListner($event)">
                    </app-liste-partenaires>   
                </ng-template>
            </td>
            <td>
                <mat-form-field appearance="outline">
                    <mat-label>Date de démarrage</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="data.dateDemarrageSouhaitee">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                </mat-form-field>
            </td>
        </tr>
    </table>

    <mat-form-field appearance="outline" >
        <mat-label>Description détaillée</mat-label>
        <textarea matInput [(ngModel)]="data.descriptionOpportunite" style="height: 80px;overflow-y: auto"></textarea>
        <mat-icon matSuffix>description</mat-icon>
    </mat-form-field>

    <div style="display: flex;justify-content: space-between;">
      <button mat-flat-button [mat-dialog-close]="data" style="margin-right: 10px">Confirmer</button>
      <button mat-stroked-button mat-dialog-close style="margin-left: 10px">Annuler</button>
    </div>

</div>

<!-- Container : Partie Droite -->
<div fxFlex="30%">
    <table>
        <tr>
            <app-liste-technologies-for-edit [selectedOptionsTechnologie]="data.listeTechnologies"></app-liste-technologies-for-edit>
        </tr>

        <tr>
            <app-liste-candidats-for-edit [idOpportunite]=data.id ></app-liste-candidats-for-edit>
        </tr>

        <tr>
            <app-liste-certifications-for-edit [selectedOptionsCertification]="data.listeCertifications" ></app-liste-certifications-for-edit>
        </tr>
    </table>
</div>

</div>