<div class="title-xs-higher" fxLayout="row" fxLayoutAlign="space-between stretch" >
    Gestion des technologies
</div>

<div class="container" 
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="start stretch"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

  
  <div *ngIf="role === 'Administrateur'; else SHOWELSE">
      <!-- Container : Formulaire : Ajout Technologie-->
    <div fxFlex="25%">
      <app-form-add-technologies (refreshTableEvent)="onRefreshTableEvent($event)"></app-form-add-technologies>
    </div>
  
    <!-- Container : DataGrid -->
    <div fxFlex="75%">
      <app-datagrid-technologies></app-datagrid-technologies>
    </div>
  </div>
  
  <ng-template #SHOWELSE>
      <!-- Container : DataGrid uniquement-->
      <div fxFlex="100%">
        <app-datagrid-technologies></app-datagrid-technologies>
      </div>
  </ng-template>

</div>