<div class="container">
    <div style="text-align: center; margin-bottom: 30px; margin-top: 30px">
        <img src="assets/img/odix.png" style="height: 75px; width:300px">
    </div>

    <div class="title" style="text-align: center;font-weight: 700;">
        La page demandée est introuvable, pour retourner à l'accueil veuillez suivre le lien ci-bas
    </div>

    <div style="text-align: center;margin-top: 50px;">
        <a href="./login" mat-flat-button style="background-color: #f7c341;">Page d'accueil</a>
    </div>
</div>
