<div class="title-xs-higher" style="text-align: center">
        Nouveau compte de candidat
</div>
<mat-tab-group mat-stretch-tabs>
        
        <mat-tab label="Contacts & Rémunération">
            <ng-template matTabContent>
                Contacts & Rémunération : nom prénom, salaire ...
            </ng-template>
        </mat-tab>
        <mat-tab label="CV & Photo">
            <ng-template matTabContent>
                CV & Photo : CV obligatoire
            </ng-template>
        </mat-tab>
        <mat-tab label="Diplômes & Visas & Disponibilité">
            <ng-template matTabContent>
                Diplômes obtenus & Visas obtenus & Disponibilité
            </ng-template>
        </mat-tab>
        <mat-tab label="Informations familiales">
            <ng-template matTabContent>
                Informations familiales : situation familiale, enfants ...
            </ng-template>
        </mat-tab>
</mat-tab-group>
