<div class="title-xs-higher-popup" style="text-align: center">
    Inscription en tant que candidat
</div>
<form [formGroup]="formAddCandidatHomePage" (ngSubmit)="addCandidatTemporaire()">
        <mat-form-field appearance="outline" >
            <mat-label>Adresse email</mat-label>
            <input matInput formControlName="email" required (focusout)="checkIfUserCandidatEmailExists()">
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <div *ngIf="invalidate" class="text-small-validation-rouge">
                Cette adresse email existe dèja, veuillez vous connecter.
        </div>

        <mat-form-field appearance="outline" >
            <mat-label>Identité (nom et prénom)</mat-label>
            <input matInput formControlName="identite" required readonly={{invalidate}}>
            <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" >
            <mat-label>Mot de passe</mat-label>
            <input matInput formControlName="password" type="password" required readonly={{invalidate}}>
            <mat-icon matSuffix>vpn_key</mat-icon>
        </mat-form-field>
        
        <div fxLayout="row" fxLayoutAlign="space-between center" fxHide.lt-md="true">
            <button mat-flat-button type="submit" [disabled]="!formAddCandidatHomePage.valid || invalidate" style="width:40%">Confirmer</button>
            <button mat-stroked-button mat-dialog-close style="width:40%">Annuler</button>
        </div>

        <!-- Visible sur Petits écrans seulement -->
        <div fxLayout="column" fxLayoutAlign="space-evenly stretch" fxHide.gt-sm="true" > 
            <button mat-flat-button type="submit" [disabled]="!formAddCandidatHomePage.valid || invalidate">Confirmer</button>
            <button mat-stroked-button mat-dialog-close style="margin-top: 10px;">Annuler</button>
        </div>
</form> 
