<form [formGroup]="formAuthentification" (ngSubmit)="checkLogin()">

    <mat-form-field appearance="outline">
            <mat-label>Nom d'utilisateur</mat-label>
            <input matInput formControlName="username">
            <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
            <mat-label>Mot de passe</mat-label>
            <input matInput formControlName="password" type="password">
            <mat-icon matSuffix>vpn_key</mat-icon>
    </mat-form-field>
  
    <div fxLayout="column" fxLayoutAlign="start stretch" fxHide.lt-md="true"> 
        <a class="text-small-link" (click)="openDialogRecupererPassword()">Mot de passe oublié ?</a>
        <button mat-flat-button style="font-weight: 600">Se connecter</button> 
    </div>

    <!-- Visible sur Petits écrans seulement -->
    <div fxLayout="column" fxLayoutAlign="start center" fxHide.gt-sm="true" > 
        <button mat-flat-button style="margin-bottom: 20px;">Se connecter</button> 
        <button mat-stroked-button type="button" style="margin-bottom: 20px" (click)="openDialogRecupererPassword()">Mot de passe oublié ?</button>
    </div>
    
</form> 