<div class="mat-liste">
  Partenaires liés ({{listePartenaires.length}}) :
</div>
<div *ngIf="listePartenaires.length===0;else SINON_PATENAIRE" class="mat-liste-contenu">
          - Liste encore vide							
</div>
<ng-template #SINON_PATENAIRE>
  <div style="max-height:250px;overflow-y: auto;">  
      <mat-list role="list" fxLayout="column" fxLayoutAlign="space-between stretch" dense>
          <mat-list-item role="listitem" *ngFor="let partenaire of listePartenaires">
              
              <a style="cursor: pointer" 
              (click)="openDialogShowPartenaire(
                partenaire.id, 
                partenaire.identite, 
                partenaire.telephone, 
                partenaire.email, 
                partenaire.posteOccupe, 
                partenaire.descriptionDetaillee, 
                partenaire.urlPhoto, 
                partenaire.login, 
                partenaire.password, 
                partenaire.etatPartenaire, 
                partenaire.entreprise)">
              - {{partenaire.identite}}
              </a>

              <a mat-button [matMenuTriggerFor]="menuPartenaires" matTooltip="Plus d'options"><mat-icon>more_vert</mat-icon></a>

              <mat-menu #menuPartenaires="matMenu" xPosition="after">
                <button mat-menu-item 
                (click)="openDialogEditPartenaire(
                  partenaire.id, 
                  partenaire.identite, 
                  partenaire.telephone, 
                  partenaire.email, 
                  partenaire.posteOccupe, 
                  partenaire.descriptionDetaillee, 
                  partenaire.urlPhoto, 
                  partenaire.login, 
                  partenaire.password, 
                  partenaire.etatPartenaire, 
                  partenaire.entreprise
                )" 
                matTooltip="Modifier le partenaire" matTooltipPosition="right">Modifier le partenaire</button>
            
                <button mat-menu-item (click)="openDialogDeleteLinkPartenaire(partenaire.id)" matTooltip="Supprimer la liaison" matTooltipPosition="right">Supprimer la liaison</button>
          
              </mat-menu>

          </mat-list-item>
          
      </mat-list>
  </div>
</ng-template>