.titleCandidat {
    font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 1.075rem;
    font-variant-ligatures: no-contextual;
    font-weight: 550;
    color: orangered;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
} 