/*
STYLE : SIDENAV : obligatoire ici
*/

.sidenav-container {
    position: absolute;
    background-color: white;
    top: 65px;
    bottom: 0;
    left: 8;
    right: 5;
  }
  
.sidenav-content {
    display: flex;
    width: 700px;
    padding-left: 10px;
    padding-right: 10px;
  }

/*
STYLE : SMALL SCREENS
*/
.sidenav-container-small {
  position: absolute;
  background-color: white;
  top: 10px;
  bottom: 0;
  left: 8;
  right: 5;
}

.sidenav-content-small {
  display: flex;
  min-width: 340px;
}
