    .titleDatagrid {
        font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
        font-size: 1.175rem;
        font-variant-ligatures: no-contextual;
        color: rgb(15, 76, 104);
        font-weight: 400;
    }
