<div *ngIf="listeOpportunites.length===0;else SINON_OPPORTUNITES" style="background-color: white;color: #000;">
    - Liste encore vide							
</div>
<ng-template #SINON_OPPORTUNITES>
    <div style="background-color: white;color: #000;padding-top: 10px;font-size: 12px">
        <div style="max-height:200px;overflow-y: auto;">   

            <a *ngFor="let opportunite of listeOpportunites">
                {{opportunite.titreOpportunite}}
            </a>

        </div>
    </div>
</ng-template>
  