<div class="title-xs-higher" style="text-align: center">
        Nouveau compte de recruteur
</div>
<mat-tab-group mat-stretch-tabs>
        <mat-tab label="Paramètres de connexion">
            <ng-template matTabContent>
               Adresse email + Mot de passe
            </ng-template>
        </mat-tab>
        <mat-tab label="Détails sur vous">
            <ng-template matTabContent>
               Poste, ancienneté ...
            </ng-template>
        </mat-tab>
        <mat-tab label="Détails sur votre entreprise">
            <ng-template matTabContent>
                Effectifs, activité ...
            </ng-template>
        </mat-tab>
</mat-tab-group>
