  img {
    vertical-align:middle;
    height:80px;
    width:80px;
    border-radius: 50%;
  }

  .titleCandidat {
    font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 1.075rem;
    font-variant-ligatures: no-contextual;
    font-weight: 400;
    color: #cf980d;
    margin-bottom: 5px;
  }

  .favoris {
    font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 0.950rem;
    font-variant-ligatures: no-contextual;
    font-weight: 400;
    color: orangered;
    cursor: pointer;
  }





  
  