<!--Grands écrans--> 
<div class="container"
    fxLayout
    fxLayout.xs="row"
    fxLayoutAlign="space-between stretch"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0" fxHide.lt-md="true">

    <!-- Colonne Gauche -->
    <div fxFlex="20%" style="background-color: #222;color: white" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="title-blanc">
            Gestion des contacts
        </div>
        <button class="toggleButton" mat-flat-button (click)="sidenav.toggle()" matTooltip="Ajouter un nouveau contact" style="margin: 5px 15px 15px 15px">Nouveau contact</button>
    </div>

    

    <!-- Colonne Droite -->
    <div fxFlex="80%">
        <div 
            fxLayout
            fxLayout.xs="row"
            fxLayoutAlign="space-between stretch"
            fxLayoutGap="10px"
            fxLayoutGap.xs="0">

        <!-- Container : Formulaire -->
        <div fxFlex="0%">
            <mat-sidenav-container class="sidenav-container">
                <mat-sidenav #sidenav mode="side" class="sidenav-content"
                            [fixedInViewport]="false" [opened]="false" [fixedTopGap]="0"
                            [fixedBottomGap]="0">
                            <button class="toggleButtonFermer" mat-flat-button (click)="sidenav.toggle()">Fermer</button>
                            <div class="title">
                                Ajouter un contact
                            </div>
                            
                            <app-form-add-contacts (refreshTableEvent)="onRefreshTableEvent($event)" [inputSideNav]="sidenav"></app-form-add-contacts>
                      
                </mat-sidenav>
              </mat-sidenav-container>
        </div>

        <!-- Container : DataGrid -->
        <div fxFlex="100%">
          <app-datagrid-contacts></app-datagrid-contacts>
        </div>

        </div>
    </div>
</div>


<!--Petits écrans-->
<div fxLayout="column" class="container" fxLayoutAlign="start stretch" fxHide.gt-sm="true"> 

    <!-- Colonne Gauche -->
    <div style="background-color: #222;color: white" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="title-blanc">
            Gestion des contacts
        </div>
        <button class="toggleButton" mat-flat-button (click)="sidenavSmall.toggle()" matTooltip="Ajouter un nouveau contact" style="margin: 5px 15px 15px 15px">Nouveau contact</button>
    </div>

    

<!-- Colonne Droite -->

        <!-- Container : Formulaire -->
        <mat-sidenav-container class="sidenav-container-small">
            
            <mat-sidenav #sidenavSmall mode="side" class="sidenav-content-small"
                            [fixedInViewport]="false" [opened]="false" [fixedTopGap]="50"
                            [fixedBottomGap]="50">
                            <button class="toggleButtonFermer" mat-flat-button (click)="sidenavSmall.toggle()">Fermer</button>
                            <div class="title">
                                Ajouter un contact
                            </div>
                            
                            <app-form-add-contacts (refreshTableEvent)="onRefreshTableEvent($event)" [inputSideNav]="sidenavSmall"></app-form-add-contacts>
                      
            </mat-sidenav>
        </mat-sidenav-container>


        <!-- Container : DataGrid -->
        <app-datagrid-contacts></app-datagrid-contacts>
</div>