<div class="mat-liste" style="font-weight: bold">
  Technologies liées ({{listeTechnologies.length}}) :
</div>
<div *ngIf="listeTechnologies.length===0;else SINON_TECHNOLOGIE" class="mat-liste-contenu">
          - Liste encore vide							
</div>
<ng-template #SINON_TECHNOLOGIE>
  <div style="max-height:250px;overflow-y: auto;">  
      <mat-list role="list" dense>

          <mat-list-item role="listitem" *ngFor="let technologie of listeTechnologies">
              - {{technologie.nomTechnologie}}
          </mat-list-item>
          
      </mat-list>
  </div>
</ng-template>