<div class="title-xs-higher" fxLayout="row" fxLayoutAlign="space-between stretch" >
    Gestion des fichiers téléchargés
</div>
<div class="container">
        <mat-form-field appearance="outline">
                <input matInput (keyup)="filtrerTable($event.target.value)" placeholder="Recherche rapide">
                <mat-icon matSuffix >search</mat-icon>
              </mat-form-field>
              
              <table mat-table [dataSource]="listeFichiers" matSort>
              
                <ng-container matColumnDef="nomFichier">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom Fichier</th>
                  <td mat-cell *matCellDef="let element" width="95%">
                    <a href="{{storageUrl}}/{{element.nomFichier}}" target="_blank">
                        {{element.nomFichier}}
                    </a>
                  </td>
                </ng-container>
              
                <ng-container matColumnDef="more">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                  <td mat-cell *matCellDef="let element" width="5%" class="pointer">
                    <mat-icon>delete_forever</mat-icon>
                  </td>
                </ng-container>
            
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              
              <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
